/**********************
* Wide (profile view)
***********************/
/* Remove margin between photos */
.weEfm, ._bz0w {margin: 0;}
/* Remove main pad & margin, increase width */
.v9tJq {
    margin: 0 auto;
    max-width: 100%;
    padding: 40px 0 0 0;
    width: 100%;
  }


/* Remove links in home */
.SkY6J{display:none}
/* Remove footer */
footer{display: none;}
